body {
    margin: 30px;
    height: 100vh;


    font-family: "Garamond", serif;

    background-color: #E1C9AF;
    background-size: cover;
    background-position: center;
}

.title-container h1 {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
    
}

.opener {
    margin-bottom: 1em;
}

.dateline {
    text-align: left;
    font-style: italic;
}

.salute {
    margin-bottom: 1em;
}

.closer {
    margin-top: 2em;
    text-align: center;
}

.signed {
    text-align: center;
}

.allcaps {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.signedandframed {
    border: 1px solid black;
    padding: 3px;
    display: inline-block;
}

.letter {
    max-width: 600px;
    margin: auto;
    line-height: 1.6;
    font-family: Garamond, serif;
}

.add {
    vertical-align: super;
    font-size: 0.9em;
}