body {
    margin: 30px;
    height: 100vh;


    font-family: "Garamond", serif;

    background-color: #E1C9AF;
    background-size: cover;
    background-position: center;
}

.title-container h1 {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
    }
 .intro {
    font-size: 18px;
    margin-bottom: 40px;
    text-align: center;
    }


.org-list {
    max-width: 800px;
    margin: 2em 0;
}

.org-entry {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.org-entry h3 {
    margin-bottom: 5px;
}

.place {
    color: darkgreen;
}

.note {
    font-size: 0.9em;
    color: gray;
}